In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import chardet as chardet
import dask as dask
import dask.dataframe as dd

import sys
import subprocess
from pathlib import Path

# Import Dependencies
import psycopg2
from pymongo import MongoClient
from pprint import pprint
from utils import createCSV, createCSVUsingDask

In [8]:
df = pd.read_csv("Resources/us_vehicle.csv" )

C:\Users\darji\AppData\Local\Temp\ipykernel_25068\3950099996.py:1: DtypeWarning: Columns (0,2,3,4,5,7,9,11,13,15,17,19,21,23,25,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Resources/us_vehicle.csv" )

         STATE STATENAME  ST_CASE  VEH_NO  VE_FORMS  NUMOCCS NUMOCCSNAME  \
count   228481    228481   228481  228481    228481   228481      227283
unique      92        52    71162     190        38       81          55
top          6     Texas   480549       1         2        1           1
freq     18141     23530      132   84582     61000    90713      121020

        HIT_RUN HIT_RUNNAME REG_STAT  ... VSPD_LIM  VSPD_LIMNAME  VALIGN  \
count    228481      228481   228481  ...   228481        228481  228481
unique        7           4      130  ...       41            21      15
top           0          No        6  ...       55        55 MPH       1
freq     124449      217927    16714  ...    32931         55980  101431

        VALIGNNAME VPROFILE  VPROFILENAME VPAVETYP  DEATHS DR_DRINK  \
count       228481   228481        228481   228481  228481   228481
unique          10       19            10       19      21        5
top       Straight        1         Level        2       1        0
freq        178219    91864        160469    85900   64321   106911

        DR_DRINKNAME
count         228481
unique             3
top               No
freq          188531

[4 rows x 31 columns]

In [2]:
def createUSAccidentData(base_path):
    createCSV(f"{base_path}/2022/accident.csv","Resources/accident_labels.csv","us_accident","w")
    createCSV(f"{base_path}/2021/accident.csv","Resources/accident_labels.csv","us_accident","a")
    createCSV(f"{base_path}/2020/accident.csv","Resources/accident_labels.csv","us_accident","a")
    createCSV(f"{base_path}/2019/accident.csv","Resources/accident_labels.csv","us_accident","a")

In [3]:
import import_ipynb as ipynb
def loadUSAccidentDataToMongoDB():
    object_names = ['us_accident']
    # Pass the collection names
    from mongodb_load_databases import createMongoDB, validateMongoDB
    db_name = 'us_accidents_db'
    createMongoDB(db_name, object_names)
    validateMongoDB(db_name)

In [4]:
import import_ipynb as ipynb
def loadUSAccidentDataToMongoDBCluster():
    object_names = ['us_accident']
    # Pass the collection names
    from mongodb_load_databases import createMongoDBCluster, validateMongoDBCluster
    db_name = 'us_accidents_db'
    createMongoDBCluster(db_name, object_names)
    validateMongoDBCluster(db_name)

In [5]:
base_path = Path("Resources/accident_data")
createUSAccidentData(base_path)
loadUSAccidentDataToMongoDB()

Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'PVH_INVL', 'PEDS',
       'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTYNAME', 'CITYNAME', 'DAY',
       'MONTH', 'MONTHNAME', 'YEAR', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTE',
       'NHSNAME', 'ROUTENAME', 'TWAY_ID', 'RUR_URBNAME', 'FUNC_SYSNAME',
       'RD_OWNERNAME', 'WEATHERNAME', 'LATITUDE', 'LONGITUD', 'SP_JURNAME',
       'HARM_EVNAME', 'RELJCT1NAME', 'WRK_ZONENAME', 'REL_ROADNAME',
       'LGT_CONDNAME', 'FATALS'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  PEDS  PERNOTMVIT  VE_TOTAL  PVH_INVL  \
0          1   Alabama    10001     0           0         2         0
1          1   Alabama    10002     0           0         2         0
2          1   Alabama    10003     0           0         1         0
3          1   Alabama    10004     0           0         1         0
4          1   Alabama    10005     1           1         1         0
...      ...       ...      ...   ...         ...       ...       ...
39216     56   Wyoming   560114     0           0         2         0
39217     56   Wyoming   560115     0           0         1         0
39218     56   Wyoming   560116     0           0         1         0
39219     56   Wyoming   560117     0           0         1         0
39220     56   Wyoming   560118     0           0         1         0

       PERSONS  PERMVIT        COUNTYNAME  ...               SP_JURNAME  \
0            3        3     PICKENS (107)  ...  No Special Jurisdiction
1            5        5  MONTGOMERY (101)  ...  No Special Jurisdiction
2            2        2   ST. CLAIR (115)  ...  No Special Jurisdiction
3            1        1  MONTGOMERY (101)  ...  No Special Jurisdiction
4            1        1    JEFFERSON (73)  ...  No Special Jurisdiction
...        ...      ...               ...  ...                      ...
39216        2        2   SWEETWATER (37)  ...  No Special Jurisdiction
39217        1        1      LINCOLN (23)  ...                    Other
39218        1        1      LARAMIE (21)  ...  No Special Jurisdiction
39219        1        1      JOHNSON (19)  ...  No Special Jurisdiction
39220        4        4      LARAMIE (21)  ...  No Special Jurisdiction

        LATITUDE    LONGITUD                 HARM_EVNAME RELJCT1NAME  \
0      33.490967  -88.274083  Motor Vehicle In-Transport          No
1      32.087125  -86.064153  Motor Vehicle In-Transport          No
2      33.428331  -86.351994        Tree (Standing Only)          No
3      32.216903  -86.400169                       Ditch          No
4      33.540281  -86.687389                  Pedestrian          No
...          ...         ...                         ...         ...
39216  41.586956 -109.248764  Motor Vehicle In-Transport          No
39217  42.398061 -110.909786           Rollover/Overturn          No
39218  41.144981 -104.824736                        Curb          No
39219  44.328569 -106.812689                     Boulder          No
39220  41.041992 -104.121756           Rollover/Overturn          No

       REL_ROADNAME WRK_ZONENAME        LGT_CONDNAME WEATHERNAME FATALS
0        On Roadway          NaN            Daylight       Clear      1
1        On Roadway          NaN            Daylight       Clear      2
2       On Roadside          NaN  Dark - Not Lighted      Cloudy      1
3       On Roadside          NaN            Daylight      Cloudy      1
4       On Shoulder          NaN  Dark - Not Lighted        Rain      1
...             ...          ...                 ...         ...    ...
39216    On Roadway          NaN            Daylight       Clear      1
39217    On Roadway          NaN                Dawn        Snow      1
39218   On Roadside          NaN            Daylight        Snow      1
39219   On Roadside          NaN  Dark - Not Lighted        Snow      1
39220   On Roadside          NaN  Dark - Not Lighted       Clear      1

[39221 rows x 34 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'PVH_INVL', 'PEDS',
       'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTYNAME', 'CITYNAME', 'DAY',
       'MONTH', 'MONTHNAME', 'YEAR', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTE',
       'NHSNAME', 'ROUTENAME', 'TWAY_ID', 'RUR_URBNAME', 'FUNC_SYSNAME',
       'RD_OWNERNAME', 'WEATHERNAME', 'LATITUDE', 'LONGITUD', 'SP_JURNAME',
       'HARM_EVNAME', 'RELJCT1NAME', 'WRK_ZONENAME', 'REL_ROADNAME',
       'LGT_CONDNAME', 'FATALS'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  PEDS  PERNOTMVIT  VE_TOTAL  PVH_INVL  \
0          1   Alabama    10001     0           0         2         0
1          1   Alabama    10002     0           0         1         0
2          1   Alabama    10003     1           1         1         0
3          1   Alabama    10004     0           0         1         0
4          1   Alabama    10005     0           0         2         0
...      ...       ...      ...   ...         ...       ...       ...
39780     56   Wyoming   560100     0           0         1         0
39781     56   Wyoming   560101     0           0         2         0
39782     56   Wyoming   560102     0           0         1         0
39783     56   Wyoming   560103     1           1         1         0
39784     56   Wyoming   560104     0           0         2         0

       PERSONS  PERMVIT       COUNTYNAME  ...               SP_JURNAME  \
0            3        3  ST. CLAIR (115)  ...  No Special Jurisdiction
1            2        2   JEFFERSON (73)  ...  No Special Jurisdiction
2            1        1   JEFFERSON (73)  ...  No Special Jurisdiction
3            1        1     SHELBY (117)  ...  No Special Jurisdiction
4            4        4   JEFFERSON (73)  ...  No Special Jurisdiction
...        ...      ...              ...  ...                      ...
39780        2        2     JOHNSON (19)  ...  No Special Jurisdiction
39781        2        2     BIG HORN (3)  ...  No Special Jurisdiction
39782        1        1  SWEETWATER (37)  ...  No Special Jurisdiction
39783        1        1     LARAMIE (21)  ...  No Special Jurisdiction
39784        2        2     LINCOLN (23)  ...  No Special Jurisdiction

        LATITUDE    LONGITUD                 HARM_EVNAME RELJCT1NAME  \
0      33.601642  -86.312383  Motor Vehicle In-Transport          No
1      33.541361  -86.643744    Concrete Traffic Barrier          No
2      33.419797  -86.752572                  Pedestrian          No
3      33.360894  -86.777139                       Ditch          No
4      33.815208  -86.825342  Motor Vehicle In-Transport          No
...          ...         ...                         ...         ...
39780  44.183594 -106.622031           Rollover/Overturn          No
39781  44.257797 -107.856219  Motor Vehicle In-Transport          No
39782  41.560719 -109.536278           Rollover/Overturn          No
39783  41.138878 -104.766653                  Pedestrian          No
39784  42.997253 -111.012300  Motor Vehicle In-Transport          No

       REL_ROADNAME WRK_ZONENAME        LGT_CONDNAME WEATHERNAME FATALS
0        On Roadway          NaN  Dark - Not Lighted        Rain      2
1         On Median          NaN  Dark - Not Lighted        Rain      2
2       On Shoulder          NaN  Dark - Not Lighted        Rain      1
3       On Roadside          NaN            Daylight       Clear      1
4        On Roadway          NaN  Dark - Not Lighted      Cloudy      1
...             ...          ...                 ...         ...    ...
39780   On Roadside          NaN            Daylight       Clear      1
39781    On Roadway          NaN  Dark - Not Lighted       Clear      1
39782   On Roadside          NaN            Daylight       Clear      1
39783    On Roadway          NaN  Dark - Not Lighted       Clear      1
39784    On Roadway          NaN  Dark - Not Lighted       Clear      1

[39785 rows x 34 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'PVH_INVL', 'PEDS',
       'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTYNAME', 'CITYNAME', 'DAY',
       'MONTH', 'MONTHNAME', 'YEAR', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTE',
       'NHSNAME', 'ROUTENAME', 'TWAY_ID', 'RUR_URBNAME', 'FUNC_SYSNAME',
       'RD_OWNERNAME', 'WEATHERNAME', 'LATITUDE', 'LONGITUD', 'SP_JURNAME',
       'HARM_EVNAME', 'RELJCT1NAME', 'WRK_ZONENAME', 'REL_ROADNAME',
       'LGT_CONDNAME', 'FATALS'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VE_TOTAL  PVH_INVL  PEDS  PERNOTMVIT  \
0          1   Alabama    10001         1         0     0           0
1          1   Alabama    10002         4         0     0           0
2          1   Alabama    10003         2         0     0           0
3          1   Alabama    10004         1         0     0           0
4          1   Alabama    10005         1         0     0           0
...      ...       ...      ...       ...       ...   ...         ...
35930     56   Wyoming   560111         2         0     0           0
35931     56   Wyoming   560112         3         0     0           0
35932     56   Wyoming   560113         3         0     0           0
35933     56   Wyoming   560114         2         0     1           1
35934     56   Wyoming   560115         1         0     0           0

       PERMVIT  PERSONS      COUNTYNAME  ...   LATITUDE    LONGITUD  \
0            4        4     ELMORE (51)  ...  32.433133  -86.094850
1            6        6  JEFFERSON (73)  ...  33.484658  -86.839544
2            2        2    SHELBY (117)  ...  33.299942  -86.369642
3            5        5    CALHOUN (15)  ...  33.795072  -85.883486
4            1        1      COOSA (37)  ...  32.848414  -86.083547
...        ...      ...             ...  ...        ...         ...
35930        2        2    LARAMIE (21)  ...  41.211981 -105.123781
35931        8        8    LINCOLN (23)  ...  42.814131 -110.957272
35932        9        9    FREMONT (13)  ...  42.993033 -108.406514
35933        3        3    LARAMIE (21)  ...  41.138478 -104.787133
35934        2        2     PLATTE (31)  ...  41.663031 -104.839778

                    SP_JURNAME                 HARM_EVNAME  RELJCT1NAME  \
0      No Special Jurisdiction        Tree (Standing Only)           No
1      No Special Jurisdiction  Motor Vehicle In-Transport           No
2      No Special Jurisdiction                       Ditch           No
3      No Special Jurisdiction        Tree (Standing Only)           No
4      No Special Jurisdiction        Tree (Standing Only)           No
...                        ...                         ...          ...
35930  No Special Jurisdiction  Motor Vehicle In-Transport           No
35931  No Special Jurisdiction  Motor Vehicle In-Transport           No
35932       Indian Reservation  Motor Vehicle In-Transport           No
35933  No Special Jurisdiction  Motor Vehicle In-Transport           No
35934  No Special Jurisdiction           Rollover/Overturn           No

      WRK_ZONENAME REL_ROADNAME        LGT_CONDNAME        WEATHERNAME FATALS
0              NaN  On Roadside  Dark - Not Lighted              Clear      3
1              NaN   On Roadway      Dark - Lighted               Rain      1
2              NaN  On Roadside            Daylight               Rain      1
3              NaN  On Roadside            Daylight             Cloudy      1
4              NaN  On Roadside  Dark - Not Lighted               Rain      1
...            ...          ...                 ...                ...    ...
35930          NaN   On Roadway  Dark - Not Lighted               Snow      1
35931          NaN   On Roadway  Dark - Not Lighted              Clear      2
35932          NaN   On Roadway  Dark - Not Lighted               Snow      1
35933          NaN   On Roadway  Dark - Not Lighted              Clear      1
35934          NaN   On Roadway            Daylight  Severe Crosswinds      1

[35935 rows x 34 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'PVH_INVL', 'PEDS',
       'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTYNAME', 'CITYNAME', 'DAY',
       'MONTH', 'MONTHNAME', 'YEAR', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTE',
       'NHSNAME', 'ROUTENAME', 'TWAY_ID', 'RUR_URBNAME', 'FUNC_SYSNAME',
       'RD_OWNERNAME', 'WEATHERNAME', 'LATITUDE', 'LONGITUD', 'SP_JURNAME',
       'HARM_EVNAME', 'RELJCT1NAME', 'WRK_ZONENAME', 'REL_ROADNAME',
       'LGT_CONDNAME', 'FATALS'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VE_TOTAL  PVH_INVL  PEDS  PERSONS  PERMVIT  \
0          1   Alabama    10001         2         0     0        3        3
1          1   Alabama    10002         2         0     0        2        2
2          1   Alabama    10003         3         0     0        4        4
3          1   Alabama    10004         1         0     1        1        1
4          1   Alabama    10005         1         0     0        1        1
...      ...       ...      ...       ...       ...   ...      ...      ...
33482     56   Wyoming   560117         1         0     0        1        1
33483     56   Wyoming   560118         5         0     0        6        6
33484     56   Wyoming   560119         1         0     0        1        1
33485     56   Wyoming   560120         1         0     0        2        2
33486     56   Wyoming   560121         2         0     0        3        3

       PERNOTMVIT       COUNTYNAME  ...   LATITUDE    LONGITUD  \
0               0         LEE (81)  ...  32.666222  -85.336658
1               0      ETOWAH (55)  ...  33.997828  -86.053997
2               0    CLEBURNE (29)  ...  33.660842  -85.391011
3               1      ETOWAH (55)  ...  33.956472  -86.140522
4               0      BALDWIN (3)  ...  30.656269  -87.809461
...           ...              ...  ...        ...         ...
33482           0       CROOK (11)  ...  44.354406 -104.810853
33483           0       ALBANY (1)  ...  41.167136 -105.887706
33484           0    SHERIDAN (33)  ...  44.912142 -107.104503
33485           0     LARAMIE (21)  ...  41.403750 -104.456917
33486           0  SWEETWATER (37)  ...  41.522656 -109.447392

                    SP_JURNAME                 HARM_EVNAME  RELJCT1NAME  \
0      No Special Jurisdiction  Motor Vehicle In-Transport           No
1      No Special Jurisdiction  Motor Vehicle In-Transport           No
2      No Special Jurisdiction  Motor Vehicle In-Transport           No
3      No Special Jurisdiction                  Pedestrian           No
4      No Special Jurisdiction           Rollover/Overturn           No
...                        ...                         ...          ...
33482  No Special Jurisdiction           Rollover/Overturn           No
33483  No Special Jurisdiction  Motor Vehicle In-Transport           No
33484  No Special Jurisdiction           Rollover/Overturn           No
33485  No Special Jurisdiction                  Embankment           No
33486  No Special Jurisdiction  Motor Vehicle In-Transport          Yes

                  WRK_ZONENAME REL_ROADNAME        LGT_CONDNAME  \
0                          NaN   On Roadway            Daylight
1                          NaN   On Roadway  Dark - Not Lighted
2                          NaN   On Roadway  Dark - Not Lighted
3                          NaN   On Roadway  Dark - Not Lighted
4                          NaN  On Roadside  Dark - Not Lighted
...                        ...          ...                 ...
33482                      NaN   On Roadway                Dusk
33483                      NaN   On Roadway            Daylight
33484                      NaN  On Roadside            Daylight
33485  Work Zone, Type Unknown    On Median  Dark - Not Lighted
33486                      NaN   On Roadway  Dark - Not Lighted

             WEATHERNAME FATALS
0                  Clear      1
1                   Rain      1
2                 Cloudy      1
3                  Clear      1
4       Fog, Smog, Smoke      1
...                  ...    ...
33482  Severe Crosswinds      1
33483              Clear      1
33484              Clear      1
33485              Clear      1
33486               Rain      2

[33487 rows x 34 columns]
importing Jupyter notebook from mongodb_load_databases.ipynb
Imported Resources/us_accident.csv into collection us_accident.
['admin', 'config', 'local', 'us_accidents_db']
['us_accident']
us_accident 148428

In [6]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# confirm that the "autosaurus" database is in MongoDB
print(mongo.list_database_names())

['admin', 'config', 'local', 'us_accidents_db']

In [7]:
# assign the database to a variable name
db = mongo['us_accidents_db']
# review the collections in our new database
print(db.list_collection_names())

['us_accident']

In [8]:
# assign each collection to a variable
accident = db['us_accident']

In [9]:
#Calculate total fatalities over all years
total_fatalities = accident.count_documents({})
#Display the data
print("Total Fatalities: ", total_fatalities)

Total Fatalities:  148428

In [10]:
#Calculate fatalities by year
pipeline_year = [
    {"$group": {"_id": "$YEAR", "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id": -1}}  # Sort by year descending
]
fatalities_by_year = list(accident.aggregate(pipeline_year))
df_year = pd.DataFrame(fatalities_by_year).rename(columns={'_id': 'Year'})

print("\nFatalities by Year:")
print(df_year)

Fatalities by Year:
   Year  total_fatalities
0  2022             39221
1  2021             39785
2  2020             35935
3  2019             33487

In [11]:
pipeline_state = [
    {"$group":{"_id": "$STATENAME", "total_fatalities": {"$sum": 1}}},
    {"$sort": {"total_fatalities": -1}}  # Sort by fatalities descending
]
fatalities_by_state = list(accident.aggregate(pipeline_state))
df_state = pd.DataFrame(fatalities_by_state).rename(columns={'_id': 'State'})
print("\nFatalities by State:")
print(df_state)

Fatalities by State:
                   State  total_fatalities
0             California             15405
1                  Texas             14854
2                Florida             12800
3                Georgia              6254
4         North Carolina              5836
5                   Ohio              4615
6              Tennessee              4604
7               Illinois              4381
8           Pennsylvania              4295
9                Arizona              4133
10              Michigan              4043
11              New York              4040
12        South Carolina              4022
13              Missouri              3626
14               Alabama              3506
15              Virginia              3422
16               Indiana              3314
17             Louisiana              3181
18              Kentucky              2803
19           Mississippi              2606
20              Oklahoma              2508
21              Colorado              2456
22            New Jersey              2377
23            Washington              2350
24              Arkansas              2284
25             Wisconsin              2206
26              Maryland              2098
27                Oregon              2020
28            New Mexico              1582
29             Minnesota              1571
30                Kansas              1487
31         Massachusetts              1455
32                Nevada              1337
33                  Iowa              1259
34           Connecticut              1130
35                  Utah              1074
36         West Virginia              1003
37              Nebraska               835
38                 Idaho               829
39               Montana               762
40                 Maine               600
41              Delaware               501
42          South Dakota               472
43               Wyoming               454
44         New Hampshire               431
45                Hawaii               388
46          North Dakota               368
47                Alaska               252
48               Vermont               244
49          Rhode Island               231
50  District of Columbia               124

In [12]:
#Calculate fatalities by state
def groupByStateAndYear(collection_obj):
    pipeline_state = [
        {"$group": {"_id": {"Year":"$YEAR","StateID":"$STATE","State":"$STATENAME"}, "total_fatalities": {"$sum": 1}}},
        {"$sort": {"_id.Year":-1 ,"_id.State": 1}}  # Sort by fatalities descending
    ]
    result = list(collection_obj.aggregate(pipeline_state))
    
    # Convert to DataFrame
    df_state = pd.DataFrame(result)
    
    # Flatten the DataFrame
    df_state = pd.concat([df_state.drop(['_id'], axis=1), df_state['_id'].apply(pd.Series)], axis=1)
    df_state = df_state.reindex(columns=['StateID','Year','State','total_fatalities'])
    print("\nFatalities by State:")
    print(df_state)

In [13]:
groupByStateAndYear(accident)

Fatalities by State:
     StateID  Year          State  total_fatalities
0          1  2022        Alabama               913
1          2  2022         Alaska                75
2          4  2022        Arizona              1183
3          5  2022       Arkansas               583
4          6  2022     California              4109
..       ...   ...            ...               ...
199       51  2019       Virginia               774
200       53  2019     Washington               513
201       54  2019  West Virginia               247
202       55  2019      Wisconsin               527
203       56  2019        Wyoming               120

[204 rows x 4 columns]

In [14]:
# #Calculate fatalities by month
# pipeline_month = [
#     {"$group": {"_id": {"Year":"$YEAR","StateID":"$STATE","State":"$STATENAME", "Month":"$MONTHNAME"}, "total_fatalities": {"$sum": 1}}},
#     {"$sort": {"_id.Year":-1 ,"_id.State":1}}  # Sort by month name alphabetically
# ]
# result = list(accident.aggregate(pipeline_month))
# # Convert to DataFrame
# df_month = pd.DataFrame(result)

# # Flatten the DataFrame
# df_month = pd.concat([df_month.drop(['_id'], axis=1), df_month['_id'].apply(pd.Series)], axis=1)
# df_month = df_month.reindex(columns=['StateID','State','Month','Year','total_fatalities'])
# print("\nFatalities by Month:")
# print(df_month)

In [15]:
#Calculate fatalities by "Monthwise only"
pipeline_month = [
    {"$group": {"_id": {"Year":"$YEAR","MonthID":"$MONTH", "Month":"$MONTHNAME"}, "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id.MonthID":1,"_id.Year":-1}}  # Sort by month name alphabetically
]
result = list(accident.aggregate(pipeline_month))
# Convert to DataFrame
df_month = pd.DataFrame(result)

# Flatten the DataFrame
df_month = pd.concat([df_month.drop(['_id'], axis=1), df_month['_id'].apply(pd.Series)], axis=1)
df_month = df_month.reindex(columns=['MonthID','Month','Year','total_fatalities'])
print("\nFatalities by Month:")
print(df_month)

Fatalities by Month:
    MonthID      Month  Year  total_fatalities
0         1    January  2022              2946
1         1    January  2021              2837
2         1    January  2020              2486
3         1    January  2019              2476
4         2   February  2022              2748
5         2   February  2021              2351
6         2   February  2020              2453
7         2   February  2019              2205
8         3      March  2022              3050
9         3      March  2021              2916
10        3      March  2020              2375
11        3      March  2019              2544
12        4      April  2022              2951
13        4      April  2021              3285
14        4      April  2020              2130
15        4      April  2019              2611
16        5        May  2022              3376
17        5        May  2021              3440
18        5        May  2020              2876
19        5        May  2019              2917
20        6       June  2022              3359
21        6       June  2021              3483
22        6       June  2020              3380
23        6       June  2019              2926
24        7       July  2022              3558
25        7       July  2021              3586
26        7       July  2020              3489
27        7       July  2019              3037
28        8     August  2022              3554
29        8     August  2021              3745
30        8     August  2020              3539
31        8     August  2019              3091
32        9  September  2022              3587
33        9  September  2021              3641
34        9  September  2020              3447
35        9  September  2019              3093
36       10    October  2022              3674
37       10    October  2021              3822
38       10    October  2020              3542
39       10    October  2019              2972
40       11   November  2022              3200
41       11   November  2021              3370
42       11   November  2020              3204
43       11   November  2019              2841
44       12   December  2022              3218
45       12   December  2021              3309
46       12   December  2020              3014
47       12   December  2019              2774

In [16]:
#Calculate fatalities by county
pipeline_county = [
    {"$group": {"_id": {"Year":"$YEAR","StateID":"$STATE","State":"$STATENAME","County": "$COUNTYNAME"}, "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id.State":1,"_id.Year":-1}}  # Sort by county name alphabetically
]
result = list(accident.aggregate(pipeline_county))
# Convert to DataFrame
df_county = pd.DataFrame(result)

# Flatten the DataFrame
df_county = pd.concat([df_county.drop(['_id'], axis=1), df_county['_id'].apply(pd.Series)], axis=1)
df_county  = df_county .reindex(columns=['StateID','State','County','Year','total_fatalities'])
print("\nFatalities by County:")
print(df_county)

Fatalities by County:
       StateID    State            County  Year  total_fatalities
0            1  Alabama     CHEROKEE (19)  2022                11
1            1  Alabama        MACON (87)  2022                 5
2            1  Alabama       AUTAUGA (1)  2022                 9
3            1  Alabama  MONTGOMERY (101)  2022                59
4            1  Alabama    RANDOLPH (111)  2022                 4
...        ...      ...               ...   ...               ...
11456       56  Wyoming      CAMPBELL (5)  2019                 9
11457       56  Wyoming      LARAMIE (21)  2019                11
11458       56  Wyoming     SUBLETTE (35)  2019                 3
11459       56  Wyoming      FREMONT (13)  2019                 7
11460       56  Wyoming      NATRONA (25)  2019                 7

[11461 rows x 5 columns]

In [17]:
#Calculate fatalities by city
pipeline_city = [
    {"$group":{"_id":{"Year":"$YEAR","StateID":"$STATE","State":"$STATENAME","City": "$CITYNAME"}, "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id.State": 1,"_id.Year": -1}}  # Sort by city name alphabetically
]
result = list(accident.aggregate(pipeline_city))
# Convert to DataFrame
df_city = pd.DataFrame(result)

# Flatten the DataFrame
df_city = pd.concat([df_city.drop(['_id'], axis=1), df_city['_id'].apply(pd.Series)], axis=1)
df_city  = df_city.reindex(columns=['StateID','State','City','Year','total_fatalities'])
print("\nFatalities by City:")
print(df_city)

Fatalities by City:
       StateID    State          City  Year  total_fatalities
0            1  Alabama          ELBA  2022                 1
1            1  Alabama     ALABASTER  2022                 2
2            1  Alabama    LIVINGSTON  2022                 1
3            1  Alabama       RED BAY  2022                 1
4            1  Alabama      BESSEMER  2022                 4
...        ...      ...           ...   ...               ...
21105       56  Wyoming   GREEN RIVER  2019                 1
21106       56  Wyoming      GILLETTE  2019                 3
21107       56  Wyoming       LARAMIE  2019                 1
21108       56  Wyoming  ROCK SPRINGS  2019                 2
21109       56  Wyoming        LANDER  2019                 1

[21110 rows x 5 columns]

In [18]:
# #Calculate fatalities by rural vs urban areas
pipeline_rural_urban = [
    # Add a match stage to filter only Rural and Urban entries
    {"$match": {"RUR_URBNAME": {"$in": ["Rural", "Urban"]}}},
    {"$group":{"_id":{"Year":"$YEAR","StateID":"$STATE","State":"$STATENAME","Rural/Urban":"$RUR_URBNAME"}, "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id.Year": -1}}
]
result = list(accident.aggregate(pipeline_rural_urban))
# Convert to DataFrame
df_rural_urban = pd.DataFrame(result)

# Flatten the DataFrame
df_rural_urban = pd.concat([df_rural_urban.drop(['_id'], axis=1), df_rural_urban['_id'].apply(pd.Series)], axis=1)
df_rural_urban  = df_rural_urban.reindex(columns=['StateID','State','Year','Rural/Urban','total_fatalities'])
print("\nFatalities by Rural/Urban:")
print(df_rural_urban.head(20))

Fatalities by Rural/Urban:
    StateID        State  Year Rural/Urban  total_fatalities
0        40     Oklahoma  2022       Rural               366
1        47    Tennessee  2022       Rural               492
2        47    Tennessee  2022       Urban               723
3        40     Oklahoma  2022       Urban               277
4        10     Delaware  2022       Rural                73
5        23        Maine  2022       Urban                26
6        12      Florida  2022       Urban              2570
7        10     Delaware  2022       Urban                70
8        39         Ohio  2022       Urban               677
9         8     Colorado  2022       Urban               430
10       34   New Jersey  2022       Rural                62
11       39         Ohio  2022       Rural               496
12       53   Washington  2022       Rural               276
13       23        Maine  2022       Rural               143
14        4      Arizona  2022       Rural               335
15       15       Hawaii  2022       Urban                98
16       41       Oregon  2022       Rural               291
17        1      Alabama  2022       Urban               411
18       53   Washington  2022       Urban               409
19        9  Connecticut  2022       Rural                35

In [19]:
#Calculate fatalities by Rural/Urban
pipeline_rural_urban = [
    # Add a match stage to filter only Rural and Urban entries
    {"$match": {"RUR_URBNAME": {"$in": ["Rural", "Urban"]}}},
    {"$group":{"_id":{"Year":"$YEAR","Rural/Urban":"$RUR_URBNAME"}, "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id.Year": -1}}
]
result = list(accident.aggregate(pipeline_rural_urban))
# Convert to DataFrame
df_rural_urban = pd.DataFrame(result)

# Flatten the DataFrame
df_rural_urban = pd.concat([df_rural_urban.drop(['_id'], axis=1), df_rural_urban['_id'].apply(pd.Series)], axis=1)
df_rural_urban  = df_rural_urban.reindex(columns=['Year','Rural/Urban','total_fatalities'])
print("\nFatalities by Rural/Urban:")
print(df_rural_urban)

Fatalities by Rural/Urban:
   Year Rural/Urban  total_fatalities
0  2022       Urban             23482
1  2022       Rural             15541
2  2021       Rural             15548
3  2021       Urban             24099
4  2020       Rural             14734
5  2020       Urban             21047
6  2019       Urban             18753
7  2019       Rural             14626

In [20]:
#Calculate fatalities by time of day (Daytime vs Nighttime)
# pipeline_time_of_day = [
#     {"$group": {"_id":{"Year":"$YEAR","StateID":"$STATE","State":"$STATENAME","Forecast":"$LGT_CONDNAME"}, "total_fatalities": {"$sum": 1}}},
#     {"$sort": {"_id.Year": -1}}
# ]
# result = list(accident.aggregate(pipeline_time_of_day))
# # Convert to DataFrame
# df_time_of_day = pd.DataFrame(result)

# # Flatten the DataFrame
# df_time_of_day = pd.concat([df_time_of_day.drop(['_id'], axis=1), df_time_of_day['_id'].apply(pd.Series)], axis=1)
# df_time_of_day  = df_time_of_day.reindex(columns=['StateID','State','Year','Forecast','total_fatalities'])
# print("\nFatalities by Time of Day:")
# print(df_time_of_day)

In [21]:
#Calculate fatalities by time of day (Daytime vs Nighttime)
pipeline_time_of_day = [
    {"$group": {"_id":{"Year":"$YEAR","Forecast":"$LGT_CONDNAME"}, "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id.Year": -1}}
]
result = list(accident.aggregate(pipeline_time_of_day))
# Convert to DataFrame
df_time_of_day = pd.DataFrame(result)

# Flatten the DataFrame
df_time_of_day = pd.concat([df_time_of_day.drop(['_id'], axis=1), df_time_of_day['_id'].apply(pd.Series)], axis=1)
df_time_of_day  = df_time_of_day.reindex(columns=['Year','Forecast','total_fatalities'])
print("\nFatalities by Time of Day:")
print(df_time_of_day)

Fatalities by Time of Day:
    Year                 Forecast  total_fatalities
0   2022                    Other                19
1   2022                     Dawn               722
2   2022                     Dusk               910
3   2022      Reported as Unknown               240
4   2022                 Daylight             17674
5   2022       Dark - Not Lighted             10452
6   2022           Dark - Lighted              8524
7   2022             Not Reported                52
8   2022  Dark - Unknown Lighting               628
9   2021           Dark - Lighted              8592
10  2021  Dark - Unknown Lighting               422
11  2021                 Daylight             17986
12  2021       Dark - Not Lighted             10838
13  2021      Reported as Unknown               169
14  2021                     Dusk               940
15  2021             Not Reported               116
16  2021                    Other                26
17  2021                     Dawn               696
18  2020             Not Reported                70
19  2020       Dark - Not Lighted              9875
20  2020      Reported as Unknown               157
21  2020                     Dusk               961
22  2020                     Dawn               653
23  2020           Dark - Lighted              7502
24  2020  Dark - Unknown Lighting               331
25  2020                 Daylight             16368
26  2020                    Other                18
27  2019      Reported as Unknown               160
28  2019       Dark - Not Lighted              9047
29  2019                     Dusk               757
30  2019  Dark - Unknown Lighting               256
31  2019                 Daylight             15815
32  2019                    Other                14
33  2019             Not Reported                46
34  2019           Dark - Lighted              6719
35  2019                     Dawn               673

In [22]:
#Calculate fatalities by Weather
pipeline_weather = [
    {"$group": {"_id":{"Year":"$YEAR","StateID":"$STATE","State":"$STATENAME","Weather":"$WEATHERNAME"}, "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id.State": 1,"_id.Year":-1}}
]
result = list(accident.aggregate(pipeline_weather))
# Convert to DataFrame
df_weather = pd.DataFrame(result)

# Flatten the DataFrame
df_weather = pd.concat([df_weather.drop(['_id'], axis=1), df_weather['_id'].apply(pd.Series)], axis=1)
df_weather  = df_weather.reindex(columns=['StateID','State','Year','Weather','total_fatalities'])
print("\nFatalities by Weather:")
print(df_weather)

Fatalities by Weather:
      StateID    State  Year           Weather  total_fatalities
0           1  Alabama  2022              Rain                82
1           1  Alabama  2022            Cloudy               146
2           1  Alabama  2022  Fog, Smog, Smoke                11
3           1  Alabama  2022             Clear               670
4           1  Alabama  2022      Blowing Snow                 1
...       ...      ...   ...               ...               ...
1598       56  Wyoming  2019              Rain                 4
1599       56  Wyoming  2019      Blowing Snow                 2
1600       56  Wyoming  2019              Snow                12
1601       56  Wyoming  2019             Clear                93
1602       56  Wyoming  2019  Fog, Smog, Smoke                 1

[1603 rows x 5 columns]

In [23]:
#Calculate fatalities by Co-ordinates
pipeline_coordinates = [
    {"$group": {"_id":{"Year":"$YEAR","StateID":"$STATE","State":"$STATENAME","County": "$COUNTYNAME","City": "$CITYNAME","Latitude":"$LATITUDE","Longitude":"$LONGITUD"}}},
    {"$sort": {"_id.State": 1,"_id.Year":-1}}
]
result = list(accident.aggregate(pipeline_coordinates))
# Convert to DataFrame
df_coordinates = pd.DataFrame(result)

# Flatten the DataFrame
df_coordinates = pd.concat([df_coordinates.drop(['_id'], axis=1), df_coordinates['_id'].apply(pd.Series)], axis=1)
df_coordinates  = df_coordinates.reindex(columns=['StateID','State','Year','County','City','Latitude','Longitude'])
print("\nFatalities by Co-ordinates:")
print(df_coordinates)

Fatalities by Co-ordinates:
        StateID    State  Year         County            City   Latitude  \
0             1  Alabama  2022       LEE (81)          AUBURN  32.584581
1             1  Alabama  2022    COFFEE (31)      ENTERPRISE  31.291508
2             1  Alabama  2022       LEE (81)         OPELIKA  32.616242
3             1  Alabama  2022    GENEVA (61)          GENEVA  31.021992
4             1  Alabama  2022  PICKENS (107)      CARROLLTON  33.271117
...         ...      ...   ...            ...             ...        ...
148225       56  Wyoming  2019     CARBON (7)  NOT APPLICABLE  42.375708
148226       56  Wyoming  2019     CARBON (7)  NOT APPLICABLE  41.565083
148227       56  Wyoming  2019     ALBANY (1)  NOT APPLICABLE  41.156164
148228       56  Wyoming  2019  SHERIDAN (33)  NOT APPLICABLE  44.912142
148229       56  Wyoming  2019   LARAMIE (21)  NOT APPLICABLE  41.096836

         Longitude
0       -85.441367
1       -85.848561
2       -85.371419
3       -85.891469
4       -88.094392
...            ...
148225 -106.241661
148226 -106.135764
148227 -105.400553
148228 -107.104503
148229 -105.179347

[148230 rows x 7 columns]