In [1]:
import sys
import subprocess
from pathlib import Path

# Import Dependencies
import psycopg2
from pymongo import MongoClient
from pprint import pprint
from utils import createCSV,createCSVUsingDask,mergeCSV

In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import chardet as chardet
import dask as dask
import dask.dataframe as dd

In [3]:
base_path = Path("Resources/2019")
createCSV(f"{base_path}/person.csv","Resources/person_labels.csv","us_person","w")
base_path = Path("Resources/2020")
createCSV(f"{base_path}/person.csv","Resources/person_labels.csv","us_person","a")
base_path = Path("Resources/2021")
createCSV(f"{base_path}/person.csv","Resources/person_labels.csv","us_person","a")
base_path = Path("Resources/2022")
createCSV(f"{base_path}/person.csv","Resources/person_labels.csv","us_person","a")

Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO',
       'STR_VEH', 'AGE', 'AGENAME', 'SEX', 'SEXNAME', 'PER_TYP', 'PER_TYPNAME',
       'INJ_SEV', 'INJ_SEVNAME', 'DRINKING', 'DRINKINGNAME', 'ALC_STATUS',
       'ALC_STATUSNAME', 'ATST_TYP', 'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME',
       'DRUGS', 'DRUGSNAME', 'DSTATUS', 'DSTATUSNAME', 'HISPANIC',
       'HISPANICNAME'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VE_FORMS  VEH_NO  PER_NO  STR_VEH  AGE  \
0          1   Alabama    10001         2       1       1        0   34
1          1   Alabama    10001         2       1       2        0   53
2          1   Alabama    10001         2       2       1        0   59
3          1   Alabama    10002         2       1       1        0   42
4          1   Alabama    10002         2       2       1        0   54
...      ...       ...      ...       ...     ...     ...      ...  ...
82838     56   Wyoming   560120         1       1       1        0   31
82839     56   Wyoming   560120         1       1       2        0   22
82840     56   Wyoming   560121         2       1       1        0   42
82841     56   Wyoming   560121         2       1       2        0   41
82842     56   Wyoming   560121         2       2       1        0   30

        AGENAME  SEX  ... ATST_TYP                   ATST_TYPNAME ALC_RES  \
0      34 Years    2  ...        0                 Test Not Given     996
1      53 Years    1  ...        0                 Test Not Given     996
2      59 Years    1  ...       10  Preliminary Breath Test (PBT)       0
3      42 Years    2  ...        1                          Blood       0
4      54 Years    2  ...        0                 Test Not Given     996
...         ...  ...  ...      ...                            ...     ...
82838  31 Years    1  ...        1                          Blood      40
82839  22 Years    1  ...        0                 Test Not Given     996
82840  42 Years    1  ...        1                          Blood       0
82841  41 Years    2  ...        1                          Blood      88
82842  30 Years    1  ...        0                 Test Not Given     996

          ALC_RESNAME DRUGS                DRUGSNAME DSTATUS  \
0      Test Not Given     0  No (drugs not involved)       0
1      Test Not Given     8             Not Reported       0
2         0.000 % BAC     0  No (drugs not involved)       0
3         0.000 % BAC     9      Reported as Unknown       2
4      Test Not Given     0  No (drugs not involved)       0
...               ...   ...                      ...     ...
82838     0.040 % BAC     1     Yes (drugs involved)       2
82839  Test Not Given     8             Not Reported       0
82840     0.000 % BAC     0  No (drugs not involved)       0
82841     0.088 % BAC     8             Not Reported       9
82842  Test Not Given     0  No (drugs not involved)       0

                         DSTATUSNAME HISPANIC                     HISPANICNAME
0                     Test Not Given        0  Not A Fatality (not Applicable)
1                     Test Not Given        7                     Non-Hispanic
2                     Test Not Given        0  Not A Fatality (not Applicable)
3                         Test Given        7                     Non-Hispanic
4                     Test Not Given        0  Not A Fatality (not Applicable)
...                              ...      ...                              ...
82838                     Test Given        7                     Non-Hispanic
82839                 Test Not Given        0  Not A Fatality (not Applicable)
82840                 Test Not Given        7                     Non-Hispanic
82841  Reported as Unknown if Tested        7                     Non-Hispanic
82842                 Test Not Given        0  Not A Fatality (not Applicable)

[82843 rows x 29 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO',
       'STR_VEH', 'AGE', 'AGENAME', 'SEX', 'SEXNAME', 'PER_TYP', 'PER_TYPNAME',
       'INJ_SEV', 'INJ_SEVNAME', 'DRINKING', 'DRINKINGNAME', 'ALC_STATUS',
       'ALC_STATUSNAME', 'ATST_TYP', 'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME',
       'DRUGS', 'DRUGSNAME', 'DSTATUS', 'DSTATUSNAME', 'HISPANIC',
       'HISPANICNAME'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VE_FORMS  VEH_NO  PER_NO  STR_VEH  AGE  \
0          1   Alabama    10001         1       1       1        0   24
1          1   Alabama    10001         1       1       2        0   21
2          1   Alabama    10001         1       1       3        0   22
3          1   Alabama    10001         1       1       4        0   22
4          1   Alabama    10002         4       1       1        0   40
...      ...       ...      ...       ...     ...     ...      ...  ...
86391     56   Wyoming   560114         2       1       1        0   18
86392     56   Wyoming   560114         2       1       2        0   17
86393     56   Wyoming   560114         2       2       1        0   24
86394     56   Wyoming   560115         1       1       1        0   76
86395     56   Wyoming   560115         1       1       2        0   73

        AGENAME  SEX  ... ATST_TYP    ATST_TYPNAME ALC_RES     ALC_RESNAME  \
0      24 Years    1  ...        1           Blood     294     0.294 % BAC
1      21 Years    1  ...        0  Test Not Given     996  Test Not Given
2      22 Years    2  ...        1           Blood      69     0.069 % BAC
3      22 Years    2  ...        1           Blood     120     0.120 % BAC
4      40 Years    2  ...        1           Blood       0     0.000 % BAC
...         ...  ...  ...      ...             ...     ...             ...
86391  18 Years    2  ...        1           Blood       0     0.000 % BAC
86392  17 Years    2  ...        0  Test Not Given     996  Test Not Given
86393  24 Years    1  ...        1           Blood       0     0.000 % BAC
86394  76 Years    1  ...        0  Test Not Given     996  Test Not Given
86395  73 Years    2  ...        0  Test Not Given     996  Test Not Given

      DRUGS                DRUGSNAME DSTATUS     DSTATUSNAME HISPANIC  \
0         9      Reported as Unknown       2      Test Given        7
1         8             Not Reported       0  Test Not Given        0
2         8             Not Reported       2      Test Given        7
3         8             Not Reported       2      Test Given        7
4         9      Reported as Unknown       2      Test Given        0
...     ...                      ...     ...             ...      ...
86391     0  No (drugs not involved)       2      Test Given        0
86392     0  No (drugs not involved)       2      Test Given        0
86393     0  No (drugs not involved)       2      Test Given        0
86394     0  No (drugs not involved)       0  Test Not Given        7
86395     8             Not Reported       0  Test Not Given        0

                          HISPANICNAME
0                         Non-Hispanic
1      Not A Fatality (not Applicable)
2                         Non-Hispanic
3                         Non-Hispanic
4      Not A Fatality (not Applicable)
...                                ...
86391  Not A Fatality (not Applicable)
86392  Not A Fatality (not Applicable)
86393  Not A Fatality (not Applicable)
86394                     Non-Hispanic
86395  Not A Fatality (not Applicable)

[86396 rows x 29 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO',
       'STR_VEH', 'AGE', 'AGENAME', 'SEX', 'SEXNAME', 'PER_TYP', 'PER_TYPNAME',
       'INJ_SEV', 'INJ_SEVNAME', 'DRINKING', 'DRINKINGNAME', 'ALC_STATUS',
       'ALC_STATUSNAME', 'ATST_TYP', 'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME',
       'DRUGS', 'DRUGSNAME', 'DSTATUS', 'DSTATUSNAME', 'HISPANIC',
       'HISPANICNAME'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VEH_NO  PER_NO  VE_FORMS  AGE   AGENAME  SEX  \
0          1   Alabama    10001       1       1         2   31  31 Years    2
1          1   Alabama    10001       1       2         2    3   3 Years    2
2          1   Alabama    10001       2       1         2   25  25 Years    1
3          1   Alabama    10002       1       1         1   34  34 Years    2
4          1   Alabama    10002       1       2         1   34  34 Years    1
...      ...       ...      ...     ...     ...       ...  ...       ...  ...
97506     56   Wyoming   560102       1       1         1   61  61 Years    1
97507     56   Wyoming   560103       0       1         1   62  62 Years    1
97508     56   Wyoming   560103       1       1         1   32  32 Years    1
97509     56   Wyoming   560104       1       1         2   58  58 Years    1
97510     56   Wyoming   560104       2       1         2   49  49 Years    2

      SEXNAME  ...    ATST_TYPNAME ALC_RES     ALC_RESNAME DRUGS  \
0      Female  ...           Blood       0     0.000 % BAC     8
1      Female  ...  Test Not Given     996  Test Not Given     8
2        Male  ...           Blood       0     0.000 % BAC     0
3      Female  ...  Test Not Given     996  Test Not Given     0
4        Male  ...  Test Not Given     996  Test Not Given     8
...       ...  ...             ...     ...             ...   ...
97506    Male  ...           Blood       0     0.000 % BAC     0
97507    Male  ...    Not Reported     995    Not Reported     9
97508    Male  ...           Blood       0     0.000 % BAC     0
97509    Male  ...           Blood       0     0.000 % BAC     1
97510  Female  ...    Not Reported     995    Not Reported     0

                     DRUGSNAME DSTATUS     DSTATUSNAME STR_VEH  HISPANIC  \
0                 Not Reported       2      Test Given       0         7
1                 Not Reported       0  Test Not Given       0         0
2      No (drugs not involved)       2      Test Given       0         7
3      No (drugs not involved)       0  Test Not Given       0         7
4                 Not Reported       0  Test Not Given       0         7
...                        ...     ...             ...     ...       ...
97506  No (drugs not involved)       2      Test Given       0         7
97507      Reported as Unknown       8    Not Reported       1         7
97508  No (drugs not involved)       2      Test Given       0         0
97509     Yes (drugs involved)       2      Test Given       0         7
97510  No (drugs not involved)       8    Not Reported       0         0

                          HISPANICNAME
0                         Non-Hispanic
1      Not A Fatality (not Applicable)
2                         Non-Hispanic
3                         Non-Hispanic
4                         Non-Hispanic
...                                ...
97506                     Non-Hispanic
97507                     Non-Hispanic
97508  Not A Fatality (not Applicable)
97509                     Non-Hispanic
97510  Not A Fatality (not Applicable)

[97511 rows x 29 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO',
       'STR_VEH', 'AGE', 'AGENAME', 'SEX', 'SEXNAME', 'PER_TYP', 'PER_TYPNAME',
       'INJ_SEV', 'INJ_SEVNAME', 'DRINKING', 'DRINKINGNAME', 'ALC_STATUS',
       'ALC_STATUSNAME', 'ATST_TYP', 'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME',
       'DRUGS', 'DRUGSNAME', 'DSTATUS', 'DSTATUSNAME', 'HISPANIC',
       'HISPANICNAME'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VEH_NO  PER_NO  VE_FORMS  AGE   AGENAME  SEX  \
0          1   Alabama    10001       1       1         2   37  37 Years    1
1          1   Alabama    10001       2       1         2   58  58 Years    2
2          1   Alabama    10001       2       2         2   60  60 Years    2
3          1   Alabama    10002       1       1         2   57  57 Years    2
4          1   Alabama    10002       2       1         2   55  55 Years    1
...      ...       ...      ...     ...     ...       ...  ...       ...  ...
95752     56   Wyoming   560117       1       1         1   43  43 Years    1
95753     56   Wyoming   560118       1       1         1   30  30 Years    1
95754     56   Wyoming   560118       1       2         1   43  43 Years    2
95755     56   Wyoming   560118       1       3         1   30  30 Years    1
95756     56   Wyoming   560118       1       4         1   22  22 Years    1

      SEXNAME  ...    ATST_TYPNAME ALC_RES     ALC_RESNAME DRUGS  \
0        Male  ...  Test Not Given     996  Test Not Given     0
1      Female  ...  Test Not Given     996  Test Not Given     0
2      Female  ...  Test Not Given     996  Test Not Given     8
3      Female  ...           Blood     288     0.288 % BAC     9
4        Male  ...           Blood       0     0.000 % BAC     9
...       ...  ...             ...     ...             ...   ...
95752    Male  ...           Blood       0     0.000 % BAC     1
95753    Male  ...    Not Reported     995    Not Reported     8
95754  Female  ...  Test Not Given     996  Test Not Given     8
95755    Male  ...  Test Not Given     996  Test Not Given     8
95756    Male  ...  Test Not Given     996  Test Not Given     8

                     DRUGSNAME DSTATUS     DSTATUSNAME STR_VEH  HISPANIC  \
0      No (drugs not involved)       8    Not Reported       0         7
1      No (drugs not involved)       0  Test Not Given       0         0
2                 Not Reported       0  Test Not Given       0         0
3          Reported as Unknown       2      Test Given       0         7
4          Reported as Unknown       2      Test Given       0         7
...                        ...     ...             ...     ...       ...
95752     Yes (drugs involved)       2      Test Given       0         7
95753             Not Reported       8    Not Reported       0         0
95754             Not Reported       0  Test Not Given       0         7
95755             Not Reported       0  Test Not Given       0         0
95756             Not Reported       0  Test Not Given       0         0

                          HISPANICNAME
0                         Non-Hispanic
1      Not A Fatality (not Applicable)
2      Not A Fatality (not Applicable)
3                         Non-Hispanic
4                         Non-Hispanic
...                                ...
95752                     Non-Hispanic
95753  Not A Fatality (not Applicable)
95754                     Non-Hispanic
95755  Not A Fatality (not Applicable)
95756  Not A Fatality (not Applicable)

[95757 rows x 29 columns]

In [4]:
base_path = Path("Resources/2019")
createCSV(f"{base_path}/vehicle.csv","Resources/vehicle_labels.csv","us_vehicle","w")
base_path = Path("Resources/2020")
createCSV(f"{base_path}/vehicle.csv","Resources/vehicle_labels.csv","us_vehicle","a")
base_path = Path("Resources/2021")
createCSV(f"{base_path}/vehicle.csv","Resources/vehicle_labels.csv","us_vehicle","a")
base_path = Path("Resources/2022")
createCSV(f"{base_path}/vehicle.csv","Resources/vehicle_labels.csv","us_vehicle","a")

Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VEH_NO', 'VE_FORMS', 'NUMOCCS',
       'NUMOCCSNAME', 'HIT_RUN', 'HIT_RUNNAME', 'REG_STAT', 'REG_STATNAME',
       'BODY_TYP', 'BODY_TYPNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'SPEEDREL',
       'SPEEDRELNAME', 'VTRAFWAY', 'VTRAFWAYNAME', 'VNUM_LAN', 'VNUM_LANNAME',
       'VSPD_LIM', 'VSPD_LIMNAME', 'VALIGN', 'VALIGNNAME', 'VPROFILE',
       'VPROFILENAME', 'VPAVETYP', 'DEATHS', 'DR_DRINK', 'DR_DRINKNAME'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VEH_NO  VE_FORMS  NUMOCCS NUMOCCSNAME  \
0          1   Alabama    10001       1         2        2           2
1          1   Alabama    10001       2         2        1           1
2          1   Alabama    10002       1         2        1           1
3          1   Alabama    10002       2         2        1           1
4          1   Alabama    10003       1         3        2           2
...      ...       ...      ...     ...       ...      ...         ...
51618     56   Wyoming   560118       5         5        1           1
51619     56   Wyoming   560119       1         1        1           1
51620     56   Wyoming   560120       1         1        2           2
51621     56   Wyoming   560121       1         2        2           2
51622     56   Wyoming   560121       2         2        1           1

       HIT_RUN HIT_RUNNAME  REG_STAT  ... VSPD_LIM  VSPD_LIMNAME VALIGN  \
0            0          No        13  ...       70        70 MPH      1
1            0          No        13  ...       70        70 MPH      1
2            0          No         1  ...       65        65 MPH      1
3            0          No         1  ...       65        65 MPH      1
4            0          No        45  ...       70        70 MPH      1
...        ...         ...       ...  ...      ...           ...    ...
51618        0          No        31  ...       70        70 MPH      1
51619        0          No        56  ...       70        70 MPH      3
51620        0          No        38  ...       70        70 MPH      1
51621        0          No        56  ...       70        70 MPH      3
51622        0          No        56  ...       70        70 MPH      2

          VALIGNNAME VPROFILE  VPROFILENAME VPAVETYP  DEATHS DR_DRINK  \
0           Straight        1         Level        2       1        0
1           Straight        1         Level        2       0        1
2           Straight        1         Level        2       1        0
3           Straight        1         Level        2       0        0
4           Straight        6      Downhill        2       1        0
...              ...      ...           ...      ...     ...      ...
51618       Straight        1         Level        2       0        0
51619   Curve - Left        1         Level        2       1        1
51620       Straight        1         Level        2       1        1
51621   Curve - Left        1         Level        2       2        1
51622  Curve - Right        6      Downhill        2       0        0

       DR_DRINKNAME
0                No
1               Yes
2                No
3                No
4                No
...             ...
51618            No
51619           Yes
51620           Yes
51621           Yes
51622            No

[51623 rows x 31 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VEH_NO', 'VE_FORMS', 'NUMOCCS',
       'NUMOCCSNAME', 'HIT_RUN', 'HIT_RUNNAME', 'REG_STAT', 'REG_STATNAME',
       'BODY_TYP', 'BODY_TYPNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'SPEEDREL',
       'SPEEDRELNAME', 'VTRAFWAY', 'VTRAFWAYNAME', 'VNUM_LAN', 'VNUM_LANNAME',
       'VSPD_LIM', 'VSPD_LIMNAME', 'VALIGN', 'VALIGNNAME', 'VPROFILE',
       'VPROFILENAME', 'VPAVETYP', 'DEATHS', 'DR_DRINK', 'DR_DRINKNAME'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VEH_NO  VE_FORMS  NUMOCCS NUMOCCSNAME  \
0          1   Alabama    10001       1         1        4          04
1          1   Alabama    10002       1         4        2          02
2          1   Alabama    10002       2         4        1          01
3          1   Alabama    10002       3         4        2          02
4          1   Alabama    10002       4         4        1          01
...      ...       ...      ...     ...       ...      ...         ...
54547     56   Wyoming   560113       2         3        4          04
54548     56   Wyoming   560113       3         3        1          01
54549     56   Wyoming   560114       1         2        2          02
54550     56   Wyoming   560114       2         2        1          01
54551     56   Wyoming   560115       1         1        2          02

       HIT_RUN HIT_RUNNAME  REG_STAT  ... VSPD_LIM  VSPD_LIMNAME VALIGN  \
0            0          No         1  ...       45        45 MPH      2
1            0          No         1  ...       35        35 MPH      1
2            0          No         1  ...       35        35 MPH      1
3            0          No         1  ...       35        35 MPH      1
4            0          No         1  ...       35        35 MPH      1
...        ...         ...       ...  ...      ...           ...    ...
54547        0          No        56  ...       55        55 MPH      1
54548        0          No        56  ...       55        55 MPH      1
54549        0          No        56  ...       30        30 MPH      1
54550        0          No        56  ...       30        30 MPH      1
54551        0          No        56  ...       80        80 MPH      1

          VALIGNNAME VPROFILE  VPROFILENAME VPAVETYP  DEATHS DR_DRINK  \
0      Curve - Right        1         Level        2       3        1
1           Straight        1         Level        2       1        0
2           Straight        1         Level        2       0        0
3           Straight        1         Level        2       0        0
4           Straight        1         Level        2       0        0
...              ...      ...           ...      ...     ...      ...
54547       Straight        1         Level        2       0        0
54548       Straight        1         Level        2       0        0
54549       Straight        1         Level        2       0        0
54550       Straight        1         Level        2       0        0
54551       Straight        6      Downhill        2       1        0

       DR_DRINKNAME
0               Yes
1                No
2                No
3                No
4                No
...             ...
54547            No
54548            No
54549            No
54550            No
54551            No

[54552 rows x 31 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VEH_NO', 'VE_FORMS', 'NUMOCCS',
       'NUMOCCSNAME', 'HIT_RUN', 'HIT_RUNNAME', 'REG_STAT', 'REG_STATNAME',
       'BODY_TYP', 'BODY_TYPNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'SPEEDREL',
       'SPEEDRELNAME', 'VTRAFWAY', 'VTRAFWAYNAME', 'VNUM_LAN', 'VNUM_LANNAME',
       'VSPD_LIM', 'VSPD_LIMNAME', 'VALIGN', 'VALIGNNAME', 'VPROFILE',
       'VPROFILENAME', 'VPAVETYP', 'DEATHS', 'DR_DRINK', 'DR_DRINKNAME'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VEH_NO  VE_FORMS  NUMOCCS NUMOCCSNAME  \
0          1   Alabama    10001       1         2        2           2
1          1   Alabama    10001       2         2        1           1
2          1   Alabama    10002       1         1        2           2
3          1   Alabama    10003       1         1        1           1
4          1   Alabama    10004       1         1        1           1
...      ...       ...      ...     ...       ...      ...         ...
61797     56   Wyoming   560101       2         2        1           1
61798     56   Wyoming   560102       1         1        1           1
61799     56   Wyoming   560103       1         1        1           1
61800     56   Wyoming   560104       1         2        1           1
61801     56   Wyoming   560104       2         2        1           1

       HIT_RUN HIT_RUNNAME  REG_STAT  ... VSPD_LIM  VSPD_LIMNAME VALIGN  \
0            0          No        12  ...       70        70 MPH      1
1            0          No        13  ...       70        70 MPH      1
2            0          No         1  ...       70        70 MPH      1
3            0          No         1  ...       70        70 MPH      1
4            0          No        12  ...       70        70 MPH      1
...        ...         ...       ...  ...      ...           ...    ...
61797        0          No         0  ...       70        70 MPH      1
61798        0          No        36  ...       75        75 MPH      3
61799        0          No        56  ...       45        45 MPH      2
61800        0          No        56  ...       65        65 MPH      1
61801        0          No        56  ...       65        65 MPH      1

          VALIGNNAME VPROFILE  VPROFILENAME VPAVETYP  DEATHS DR_DRINK  \
0           Straight        1         Level        2       1        0
1           Straight        1         Level        2       1        0
2           Straight        1         Level        2       2        0
3           Straight        6      Downhill        1       0        0
4           Straight        1         Level        2       1        0
...              ...      ...           ...      ...     ...      ...
61797       Straight        1         Level        2       0        0
61798   Curve - Left        6      Downhill        1       1        0
61799  Curve - Right        1         Level        2       0        0
61800       Straight        1         Level        2       1        0
61801       Straight        1         Level        2       0        0

       DR_DRINKNAME
0                No
1                No
2                No
3                No
4                No
...             ...
61797            No
61798            No
61799            No
61800            No
61801            No

[61802 rows x 31 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VEH_NO', 'VE_FORMS', 'NUMOCCS',
       'NUMOCCSNAME', 'HIT_RUN', 'HIT_RUNNAME', 'REG_STAT', 'REG_STATNAME',
       'BODY_TYP', 'BODY_TYPNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'SPEEDREL',
       'SPEEDRELNAME', 'VTRAFWAY', 'VTRAFWAYNAME', 'VNUM_LAN', 'VNUM_LANNAME',
       'VSPD_LIM', 'VSPD_LIMNAME', 'VALIGN', 'VALIGNNAME', 'VPROFILE',
       'VPROFILENAME', 'VPAVETYP', 'DEATHS', 'DR_DRINK', 'DR_DRINKNAME'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VEH_NO  VE_FORMS  NUMOCCS NUMOCCSNAME  \
0          1   Alabama    10001       1         2        1           1
1          1   Alabama    10001       2         2        2           2
2          1   Alabama    10002       1         2        1           1
3          1   Alabama    10002       2         2        4           4
4          1   Alabama    10003       1         1        2           2
...      ...       ...      ...     ...       ...      ...         ...
60496     56   Wyoming   560114       2         2        1           1
60497     56   Wyoming   560115       1         1        1           1
60498     56   Wyoming   560116       1         1        1           1
60499     56   Wyoming   560117       1         1        1           1
60500     56   Wyoming   560118       1         1        4           4

       HIT_RUN HIT_RUNNAME  REG_STAT  ... VSPD_LIM         VSPD_LIMNAME  \
0            0          No         1  ...       65               65 MPH
1            0          No         1  ...       65               65 MPH
2            0          No         1  ...       65               65 MPH
3            0          No         1  ...       65               65 MPH
4            0          No         1  ...       35               35 MPH
...        ...         ...       ...  ...      ...                  ...
60496        0          No        49  ...       75               75 MPH
60497        0          No        56  ...       99  Reported as Unknown
60498        0          No        56  ...       30               30 MPH
60499        0          No        56  ...       99  Reported as Unknown
60500        0          No         8  ...       45               45 MPH

      VALIGN   VALIGNNAME VPROFILE  VPROFILENAME VPAVETYP  DEATHS DR_DRINK  \
0          1     Straight        1         Level        2       1        0
1          1     Straight        1         Level        2       0        0
2          1     Straight        1         Level        2       1        1
3          1     Straight        1         Level        2       1        0
4          3   Curve Left        1         Level        2       1        0
...      ...          ...      ...           ...      ...     ...      ...
60496      1     Straight        5        Uphill        1       0        0
60497      1     Straight        6      Downhill        5       1        0
60498      1     Straight        1         Level        2       1        0
60499      2  Curve Right        6      Downhill        4       1        1
60500      1     Straight        1         Level        2       1        1

       DR_DRINKNAME
0                No
1                No
2               Yes
3                No
4                No
...             ...
60496            No
60497            No
60498            No
60499           Yes
60500           Yes

[60501 rows x 31 columns]

In [5]:
base_path = Path("Resources/2019")
mergeCSV(f"{base_path}/Drugs.csv","us_drug","w")
base_path = Path("Resources/2020")
mergeCSV(f"{base_path}/Drugs.csv","us_drug","a")
base_path = Path("Resources/2021")
mergeCSV(f"{base_path}/Drugs.csv","us_drug","a")
base_path = Path("Resources/2022")
mergeCSV(f"{base_path}/Drugs.csv","us_drug","a")

Starting to read the File
Starting to read the File
Starting to read the File
Starting to read the File

In [6]:
base_path = Path("Resources/2019")
mergeCSV(f"{base_path}/Race.csv","us_race","w")
base_path = Path("Resources/2020")
mergeCSV(f"{base_path}/race.csv","us_race","a")
base_path = Path("Resources/2021")
mergeCSV(f"{base_path}/race.csv","us_race","a")
base_path = Path("Resources/2022")
mergeCSV(f"{base_path}/race.csv","us_race","a")

Starting to read the File
Starting to read the File
Starting to read the File
Starting to read the File

In [7]:
base_path = Path("Resources/2019")
mergeCSV(f"{base_path}/weather.csv","us_weather","w")
base_path = Path("Resources/2020")
mergeCSV(f"{base_path}/weather.csv","us_weather","a")
base_path = Path("Resources/2021")
mergeCSV(f"{base_path}/weather.csv","us_weather","a")
base_path = Path("Resources/2022")
mergeCSV(f"{base_path}/weather.csv","us_weather","a")

Starting to read the File
Starting to read the File
Starting to read the File
Starting to read the File

In [8]:
base_path = Path("Resources/2019")
mergeCSV(f"{base_path}/Vision.csv","us_Vision","w")
base_path = Path("Resources/2020")
mergeCSV(f"{base_path}/Vision.csv","us_Vision","a")
base_path = Path("Resources/2021")
mergeCSV(f"{base_path}/Vision.csv","us_Vision","a")
base_path = Path("Resources/2022")
mergeCSV(f"{base_path}/Vision.csv","us_Vision","a")

Starting to read the File
Starting to read the File
Starting to read the File
Starting to read the File

In [9]:
import import_ipynb as ipynb
def loadUSAccidentDataToMongoDB():
    object_names = ['us_person','us_vehicle','us_Vision', 'us_weather', 'us_race','us_drug', 'us_accident']
    # Pass the collection names
    from mongodb_load_databases import createMongoDB, validateMongoDB
    db_name = 'us_accidents_db'
    createMongoDB(db_name, object_names)
    validateMongoDB(db_name)
print("here")

here

In [10]:
 loadUSAccidentDataToMongoDB()

importing Jupyter notebook from mongodb_load_databases.ipynb
Imported Resources/us_person.csv into collection us_person.
Imported Resources/us_vehicle.csv into collection us_vehicle.
Imported Resources/us_Vision.csv into collection us_Vision.
Imported Resources/us_weather.csv into collection us_weather.
Imported Resources/us_race.csv into collection us_race.
Imported Resources/us_drug.csv into collection us_drug.
Imported Resources/us_accident.csv into collection us_accident.
['admin', 'autosaurus', 'classDB', 'config', 'crowdfunding_db', 'epa', 'fruits_db', 'gardenDB', 'local', 'met', 'petsitly_marketing', 'travel_db', 'uk_food', 'us_accidents_db']
['us_Vision', 'us_weather', 'us_drug', 'us_person', 'us_vehicle', 'us_race', 'us_accident']
us_Vision 228661
us_weather 149623
us_drug 445360
us_person 362510
us_vehicle 228481
us_race 363199
us_accident 148431