In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import chardet as chardet
import dask as dask
import dask.dataframe as dd

import sys
import subprocess
from pathlib import Path

# Import Dependencies
import psycopg2
from pymongo import MongoClient
from pprint import pprint
from utils import createCSV, createCSVUsingDask

In [2]:
def createUSAccidentData(base_path):
    createCSV(f"{base_path}/2022/accident.csv","Resources/accident_labels.csv","us_accident","w")
    createCSV(f"{base_path}/2021/accident.csv","Resources/accident_labels.csv","us_accident","a")
    createCSV(f"{base_path}/2020/accident.csv","Resources/accident_labels.csv","us_accident","a")
    createCSV(f"{base_path}/2019/accident.csv","Resources/accident_labels.csv","us_accident","a")

In [3]:
import import_ipynb as ipynb
def loadUSAccidentDataToMongoDB():
    object_names = ['us_accident']
    # Pass the collection names
    from mongodb_load_databases import createMongoDB, validateMongoDB
    db_name = 'us_accidents_db'
    createMongoDB(db_name, object_names)
    validateMongoDB(db_name)

In [4]:
import import_ipynb as ipynb
def loadUSAccidentDataToMongoDBCluster():
    object_names = ['us_accident']
    # Pass the collection names
    from mongodb_load_databases import createMongoDBCluster, validateMongoDBCluster
    db_name = 'us_accidents_db'
    createMongoDBCluster(db_name, object_names)
    validateMongoDBCluster(db_name)

In [5]:
base_path = Path("Resources/accident_data")
createUSAccidentData(base_path)
loadUSAccidentDataToMongoDB()

Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'PVH_INVL', 'PEDS',
       'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTYNAME', 'CITYNAME', 'DAY',
       'MONTHNAME', 'YEAR', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTE', 'NHSNAME',
       'ROUTENAME', 'TWAY_ID', 'RUR_URBNAME', 'FUNC_SYSNAME', 'RD_OWNERNAME',
       'LATITUDE', 'LONGITUD', 'SP_JURNAME', 'HARM_EVNAME', 'RELJCT1NAME',
       'WRK_ZONENAME', 'REL_ROADNAME', 'LGT_CONDNAME', 'FATALS'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  PEDS  PERNOTMVIT  VE_TOTAL  PVH_INVL  \
0          1   Alabama    10001     0           0         2         0
1          1   Alabama    10002     0           0         2         0
2          1   Alabama    10003     0           0         1         0
3          1   Alabama    10004     0           0         1         0
4          1   Alabama    10005     1           1         1         0
...      ...       ...      ...   ...         ...       ...       ...
39216     56   Wyoming   560114     0           0         2         0
39217     56   Wyoming   560115     0           0         1         0
39218     56   Wyoming   560116     0           0         1         0
39219     56   Wyoming   560117     0           0         1         0
39220     56   Wyoming   560118     0           0         1         0

       PERSONS  PERMVIT        COUNTYNAME  ...  \
0            3        3     PICKENS (107)  ...
1            5        5  MONTGOMERY (101)  ...
2            2        2   ST. CLAIR (115)  ...
3            1        1  MONTGOMERY (101)  ...
4            1        1    JEFFERSON (73)  ...
...        ...      ...               ...  ...
39216        2        2   SWEETWATER (37)  ...
39217        1        1      LINCOLN (23)  ...
39218        1        1      LARAMIE (21)  ...
39219        1        1      JOHNSON (19)  ...
39220        4        4      LARAMIE (21)  ...

                              NHSNAME               SP_JURNAME   LATITUDE  \
0          This section IS ON the NHS  No Special Jurisdiction  33.490967
1          This section IS ON the NHS  No Special Jurisdiction  32.087125
2      This section IS NOT on the NHS  No Special Jurisdiction  33.428331
3          This section IS ON the NHS  No Special Jurisdiction  32.216903
4          This section IS ON the NHS  No Special Jurisdiction  33.540281
...                               ...                      ...        ...
39216      This section IS ON the NHS  No Special Jurisdiction  41.586956
39217  This section IS NOT on the NHS                    Other  42.398061
39218  This section IS NOT on the NHS  No Special Jurisdiction  41.144981
39219  This section IS NOT on the NHS  No Special Jurisdiction  44.328569
39220  This section IS NOT on the NHS  No Special Jurisdiction  41.041992

         LONGITUD                 HARM_EVNAME RELJCT1NAME  REL_ROADNAME  \
0      -88.274083  Motor Vehicle In-Transport          No    On Roadway
1      -86.064153  Motor Vehicle In-Transport          No    On Roadway
2      -86.351994        Tree (Standing Only)          No   On Roadside
3      -86.400169                       Ditch          No   On Roadside
4      -86.687389                  Pedestrian          No   On Shoulder
...           ...                         ...         ...           ...
39216 -109.248764  Motor Vehicle In-Transport          No    On Roadway
39217 -110.909786           Rollover/Overturn          No    On Roadway
39218 -104.824736                        Curb          No   On Roadside
39219 -106.812689                     Boulder          No   On Roadside
39220 -104.121756           Rollover/Overturn          No   On Roadside

      WRK_ZONENAME        LGT_CONDNAME FATALS
0              NaN            Daylight      1
1              NaN            Daylight      2
2              NaN  Dark - Not Lighted      1
3              NaN            Daylight      1
4              NaN  Dark - Not Lighted      1
...            ...                 ...    ...
39216          NaN            Daylight      1
39217          NaN                Dawn      1
39218          NaN            Daylight      1
39219          NaN  Dark - Not Lighted      1
39220          NaN  Dark - Not Lighted      1

[39221 rows x 32 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'PVH_INVL', 'PEDS',
       'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTYNAME', 'CITYNAME', 'DAY',
       'MONTHNAME', 'YEAR', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTE', 'NHSNAME',
       'ROUTENAME', 'TWAY_ID', 'RUR_URBNAME', 'FUNC_SYSNAME', 'RD_OWNERNAME',
       'LATITUDE', 'LONGITUD', 'SP_JURNAME', 'HARM_EVNAME', 'RELJCT1NAME',
       'WRK_ZONENAME', 'REL_ROADNAME', 'LGT_CONDNAME', 'FATALS'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  PEDS  PERNOTMVIT  VE_TOTAL  PVH_INVL  \
0          1   Alabama    10001     0           0         2         0
1          1   Alabama    10002     0           0         1         0
2          1   Alabama    10003     1           1         1         0
3          1   Alabama    10004     0           0         1         0
4          1   Alabama    10005     0           0         2         0
...      ...       ...      ...   ...         ...       ...       ...
39780     56   Wyoming   560100     0           0         1         0
39781     56   Wyoming   560101     0           0         2         0
39782     56   Wyoming   560102     0           0         1         0
39783     56   Wyoming   560103     1           1         1         0
39784     56   Wyoming   560104     0           0         2         0

       PERSONS  PERMVIT       COUNTYNAME  ...                         NHSNAME  \
0            3        3  ST. CLAIR (115)  ...      This section IS ON the NHS
1            2        2   JEFFERSON (73)  ...      This section IS ON the NHS
2            1        1   JEFFERSON (73)  ...      This section IS ON the NHS
3            1        1     SHELBY (117)  ...      This section IS ON the NHS
4            4        4   JEFFERSON (73)  ...      This section IS ON the NHS
...        ...      ...              ...  ...                             ...
39780        2        2     JOHNSON (19)  ...  This section IS NOT on the NHS
39781        2        2     BIG HORN (3)  ...  This section IS NOT on the NHS
39782        1        1  SWEETWATER (37)  ...      This section IS ON the NHS
39783        1        1     LARAMIE (21)  ...      This section IS ON the NHS
39784        2        2     LINCOLN (23)  ...      This section IS ON the NHS

                    SP_JURNAME   LATITUDE    LONGITUD  \
0      No Special Jurisdiction  33.601642  -86.312383
1      No Special Jurisdiction  33.541361  -86.643744
2      No Special Jurisdiction  33.419797  -86.752572
3      No Special Jurisdiction  33.360894  -86.777139
4      No Special Jurisdiction  33.815208  -86.825342
...                        ...        ...         ...
39780  No Special Jurisdiction  44.183594 -106.622031
39781  No Special Jurisdiction  44.257797 -107.856219
39782  No Special Jurisdiction  41.560719 -109.536278
39783  No Special Jurisdiction  41.138878 -104.766653
39784  No Special Jurisdiction  42.997253 -111.012300

                      HARM_EVNAME RELJCT1NAME  REL_ROADNAME WRK_ZONENAME  \
0      Motor Vehicle In-Transport          No    On Roadway          NaN
1        Concrete Traffic Barrier          No     On Median          NaN
2                      Pedestrian          No   On Shoulder          NaN
3                           Ditch          No   On Roadside          NaN
4      Motor Vehicle In-Transport          No    On Roadway          NaN
...                           ...         ...           ...          ...
39780           Rollover/Overturn          No   On Roadside          NaN
39781  Motor Vehicle In-Transport          No    On Roadway          NaN
39782           Rollover/Overturn          No   On Roadside          NaN
39783                  Pedestrian          No    On Roadway          NaN
39784  Motor Vehicle In-Transport          No    On Roadway          NaN

             LGT_CONDNAME FATALS
0      Dark - Not Lighted      2
1      Dark - Not Lighted      2
2      Dark - Not Lighted      1
3                Daylight      1
4      Dark - Not Lighted      1
...                   ...    ...
39780            Daylight      1
39781  Dark - Not Lighted      1
39782            Daylight      1
39783  Dark - Not Lighted      1
39784  Dark - Not Lighted      1

[39785 rows x 32 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'PVH_INVL', 'PEDS',
       'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTYNAME', 'CITYNAME', 'DAY',
       'MONTHNAME', 'YEAR', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTE', 'NHSNAME',
       'ROUTENAME', 'TWAY_ID', 'RUR_URBNAME', 'FUNC_SYSNAME', 'RD_OWNERNAME',
       'LATITUDE', 'LONGITUD', 'SP_JURNAME', 'HARM_EVNAME', 'RELJCT1NAME',
       'WRK_ZONENAME', 'REL_ROADNAME', 'LGT_CONDNAME', 'FATALS'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VE_TOTAL  PVH_INVL  PEDS  PERNOTMVIT  \
0          1   Alabama    10001         1         0     0           0
1          1   Alabama    10002         4         0     0           0
2          1   Alabama    10003         2         0     0           0
3          1   Alabama    10004         1         0     0           0
4          1   Alabama    10005         1         0     0           0
...      ...       ...      ...       ...       ...   ...         ...
35930     56   Wyoming   560111         2         0     0           0
35931     56   Wyoming   560112         3         0     0           0
35932     56   Wyoming   560113         3         0     0           0
35933     56   Wyoming   560114         2         0     1           1
35934     56   Wyoming   560115         1         0     0           0

       PERMVIT  PERSONS      COUNTYNAME  ...  \
0            4        4     ELMORE (51)  ...
1            6        6  JEFFERSON (73)  ...
2            2        2    SHELBY (117)  ...
3            5        5    CALHOUN (15)  ...
4            1        1      COOSA (37)  ...
...        ...      ...             ...  ...
35930        2        2    LARAMIE (21)  ...
35931        8        8    LINCOLN (23)  ...
35932        9        9    FREMONT (13)  ...
35933        3        3    LARAMIE (21)  ...
35934        2        2     PLATTE (31)  ...

                           RD_OWNERNAME   LATITUDE    LONGITUD  \
0                 County Highway Agency  32.433133  -86.094850
1      City or Municipal Highway Agency  33.484658  -86.839544
2                  State Highway Agency  33.299942  -86.369642
3                 County Highway Agency  33.795072  -85.883486
4                 County Highway Agency  32.848414  -86.083547
...                                 ...        ...         ...
35930             County Highway Agency  41.211981 -105.123781
35931              State Highway Agency  42.814131 -110.957272
35932              State Highway Agency  42.993033 -108.406514
35933              State Highway Agency  41.138478 -104.787133
35934              State Highway Agency  41.663031 -104.839778

                    SP_JURNAME                 HARM_EVNAME RELJCT1NAME  \
0      No Special Jurisdiction        Tree (Standing Only)          No
1      No Special Jurisdiction  Motor Vehicle In-Transport          No
2      No Special Jurisdiction                       Ditch          No
3      No Special Jurisdiction        Tree (Standing Only)          No
4      No Special Jurisdiction        Tree (Standing Only)          No
...                        ...                         ...         ...
35930  No Special Jurisdiction  Motor Vehicle In-Transport          No
35931  No Special Jurisdiction  Motor Vehicle In-Transport          No
35932       Indian Reservation  Motor Vehicle In-Transport          No
35933  No Special Jurisdiction  Motor Vehicle In-Transport          No
35934  No Special Jurisdiction           Rollover/Overturn          No

       WRK_ZONENAME REL_ROADNAME        LGT_CONDNAME FATALS
0               NaN  On Roadside  Dark - Not Lighted      3
1               NaN   On Roadway      Dark - Lighted      1
2               NaN  On Roadside            Daylight      1
3               NaN  On Roadside            Daylight      1
4               NaN  On Roadside  Dark - Not Lighted      1
...             ...          ...                 ...    ...
35930           NaN   On Roadway  Dark - Not Lighted      1
35931           NaN   On Roadway  Dark - Not Lighted      2
35932           NaN   On Roadway  Dark - Not Lighted      1
35933           NaN   On Roadway  Dark - Not Lighted      1
35934           NaN   On Roadway            Daylight      1

[35935 rows x 32 columns]
Starting to read the File
################Labels to Save###################### Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'PVH_INVL', 'PEDS',
       'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTYNAME', 'CITYNAME', 'DAY',
       'MONTHNAME', 'YEAR', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTE', 'NHSNAME',
       'ROUTENAME', 'TWAY_ID', 'RUR_URBNAME', 'FUNC_SYSNAME', 'RD_OWNERNAME',
       'LATITUDE', 'LONGITUD', 'SP_JURNAME', 'HARM_EVNAME', 'RELJCT1NAME',
       'WRK_ZONENAME', 'REL_ROADNAME', 'LGT_CONDNAME', 'FATALS'],
      dtype='object')
################Updated CSV File#################        STATE STATENAME  ST_CASE  VE_TOTAL  PVH_INVL  PEDS  PERSONS  PERMVIT  \
0          1   Alabama    10001         2         0     0        3        3
1          1   Alabama    10002         2         0     0        2        2
2          1   Alabama    10003         3         0     0        4        4
3          1   Alabama    10004         1         0     1        1        1
4          1   Alabama    10005         1         0     0        1        1
...      ...       ...      ...       ...       ...   ...      ...      ...
33482     56   Wyoming   560117         1         0     0        1        1
33483     56   Wyoming   560118         5         0     0        6        6
33484     56   Wyoming   560119         1         0     0        1        1
33485     56   Wyoming   560120         1         0     0        2        2
33486     56   Wyoming   560121         2         0     0        3        3

       PERNOTMVIT       COUNTYNAME  ...          RD_OWNERNAME   LATITUDE  \
0               0         LEE (81)  ...  State Highway Agency  32.666222
1               0      ETOWAH (55)  ...  State Highway Agency  33.997828
2               0    CLEBURNE (29)  ...  State Highway Agency  33.660842
3               1      ETOWAH (55)  ...  State Highway Agency  33.956472
4               0      BALDWIN (3)  ...  State Highway Agency  30.656269
...           ...              ...  ...                   ...        ...
33482           0       CROOK (11)  ...          Not Reported  44.354406
33483           0       ALBANY (1)  ...  State Highway Agency  41.167136
33484           0    SHERIDAN (33)  ...  State Highway Agency  44.912142
33485           0     LARAMIE (21)  ...  State Highway Agency  41.403750
33486           0  SWEETWATER (37)  ...  State Highway Agency  41.522656

         LONGITUD               SP_JURNAME                 HARM_EVNAME  \
0      -85.336658  No Special Jurisdiction  Motor Vehicle In-Transport
1      -86.053997  No Special Jurisdiction  Motor Vehicle In-Transport
2      -85.391011  No Special Jurisdiction  Motor Vehicle In-Transport
3      -86.140522  No Special Jurisdiction                  Pedestrian
4      -87.809461  No Special Jurisdiction           Rollover/Overturn
...           ...                      ...                         ...
33482 -104.810853  No Special Jurisdiction           Rollover/Overturn
33483 -105.887706  No Special Jurisdiction  Motor Vehicle In-Transport
33484 -107.104503  No Special Jurisdiction           Rollover/Overturn
33485 -104.456917  No Special Jurisdiction                  Embankment
33486 -109.447392  No Special Jurisdiction  Motor Vehicle In-Transport

      RELJCT1NAME             WRK_ZONENAME REL_ROADNAME        LGT_CONDNAME  \
0              No                      NaN   On Roadway            Daylight
1              No                      NaN   On Roadway  Dark - Not Lighted
2              No                      NaN   On Roadway  Dark - Not Lighted
3              No                      NaN   On Roadway  Dark - Not Lighted
4              No                      NaN  On Roadside  Dark - Not Lighted
...           ...                      ...          ...                 ...
33482          No                      NaN   On Roadway                Dusk
33483          No                      NaN   On Roadway            Daylight
33484          No                      NaN  On Roadside            Daylight
33485          No  Work Zone, Type Unknown    On Median  Dark - Not Lighted
33486         Yes                      NaN   On Roadway  Dark - Not Lighted

      FATALS
0          1
1          1
2          1
3          1
4          1
...      ...
33482      1
33483      1
33484      1
33485      1
33486      2

[33487 rows x 32 columns]
importing Jupyter notebook from mongodb_load_databases.ipynb
Imported Resources/us_accident.csv into collection us_accident.
['admin', 'config', 'local', 'us_accidents_db']
['us_accident']
us_accident 148431

In [6]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# confirm that the "autosaurus" database is in MongoDB
print(mongo.list_database_names())

['admin', 'config', 'local', 'us_accidents_db']

In [7]:
# assign the database to a variable name
db = mongo['us_accidents_db']
# review the collections in our new database
print(db.list_collection_names())

['us_accident']

In [8]:
# assign each collection to a variable
accident = db['us_accident']

In [9]:
accident.count_documents({})

148431

In [10]:
#Calculate total fatalities over all years
total_fatalities = accident.count_documents({})

#Calculate fatalities by year
pipeline_year = [
    {"$group": {"_id": "$YEAR", "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id": -1}}  # Sort by year descending
]
fatalities_by_year = list(accident.aggregate(pipeline_year))
df_year = pd.DataFrame(fatalities_by_year).rename(columns={'_id': 'Year'})

#Calculate fatalities by state
pipeline_state = [
    {"$group": {"_id": "$STATENAME", "total_fatalities": {"$sum": 1}}},
    {"$sort": {"total_fatalities": -1}}  # Sort by fatalities descending
]
fatalities_by_state = list(accident.aggregate(pipeline_state))
df_state = pd.DataFrame(fatalities_by_state).rename(columns={'_id': 'State'})

#Calculate fatalities by month
pipeline_month = [
    {"$group": {"_id": "$MONTHNAME", "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id": 1}}  # Sort by month name alphabetically
]
fatalities_by_month = list(accident.aggregate(pipeline_month))
df_month = pd.DataFrame(fatalities_by_month).rename(columns={'_id': 'Month'})

#Calculate fatalities by county
pipeline_county = [
    {"$group": {"_id": "$COUNTYNAME", "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id": 1}}  # Sort by county name alphabetically
]
fatalities_by_county = list(accident.aggregate(pipeline_county))
df_county = pd.DataFrame(fatalities_by_county).rename(columns={'_id': 'County'})

#Calculate fatalities by city
pipeline_city = [
    {"$group": {"_id": "$CITYNAME", "total_fatalities": {"$sum": 1}}},
    {"$sort": {"_id": 1}}  # Sort by city name alphabetically
]
fatalities_by_city = list(accident.aggregate(pipeline_city))
df_city = pd.DataFrame(fatalities_by_city).rename(columns={'_id': 'City'})

#Calculate fatalities by rural vs urban areas
pipeline_rural_urban = [
    {"$group": {"_id": "$RUR_URBNAME", "total_fatalities": {"$sum": 1}}}
]
fatalities_by_rural_urban = list(accident.aggregate(pipeline_rural_urban))
df_rural_urban = pd.DataFrame(fatalities_by_rural_urban).rename(columns={'_id': 'Rural/Urban'})

#Calculate fatalities by time of day (Daytime vs Nighttime)
pipeline_time_of_day = [
    {"$group": {"_id": "$LGT_CONDNAME", "total_fatalities": {"$sum": 1}}}
]
fatalities_by_time_of_day = list(accident.aggregate(pipeline_time_of_day))
df_time_of_day = pd.DataFrame(fatalities_by_time_of_day).rename(columns={'_id': 'Time of Day'})


#Display the data
print("Total Fatalities: ", total_fatalities)
print("\nFatalities by Year:")
print(df_year)

print("\nFatalities by State:")
print(df_state)

print("\nFatalities by Month:")
print(df_month)

print("\nFatalities by County:")
print(df_county)

print("\nFatalities by City:")
print(df_city)
      
print("\nFatalities by Rural/Urban:")
print(df_rural_urban)

print("\nFatalities by Time of Day:")
print(df_time_of_day)

Total Fatalities:  148431

Fatalities by Year:
            Year  total_fatalities
0           YEAR                 1
1      Wednesday              8970
2        Tuesday              8850
3       Thursday              9323
4         Sunday             10749
5       Saturday             11843
6         Monday              8872
7         Friday             10815
8   DAY_WEEKNAME                 2
9           2022             39221
10          2021             39785

Fatalities by State:
                   State  total_fatalities
0             California             15405
1                  Texas             14854
2                Florida             12800
3                Georgia              6254
4         North Carolina              5836
5                   Ohio              4615
6              Tennessee              4604
7               Illinois              4381
8           Pennsylvania              4295
9                Arizona              4133
10              Michigan              4043
11              New York              4040
12        South Carolina              4022
13              Missouri              3626
14               Alabama              3506
15              Virginia              3422
16               Indiana              3314
17             Louisiana              3181
18              Kentucky              2803
19           Mississippi              2606
20              Oklahoma              2508
21              Colorado              2456
22            New Jersey              2377
23            Washington              2350
24              Arkansas              2284
25             Wisconsin              2206
26              Maryland              2098
27                Oregon              2020
28            New Mexico              1582
29             Minnesota              1571
30                Kansas              1487
31         Massachusetts              1455
32                Nevada              1337
33                  Iowa              1259
34           Connecticut              1130
35                  Utah              1074
36         West Virginia              1003
37              Nebraska               835
38                 Idaho               829
39               Montana               762
40                 Maine               600
41              Delaware               501
42          South Dakota               472
43               Wyoming               454
44         New Hampshire               431
45                Hawaii               388
46          North Dakota               368
47                Alaska               252
48               Vermont               244
49          Rhode Island               231
50  District of Columbia               124
51             STATENAME                 3

Fatalities by Month:
        Month  total_fatalities
0           1              2383
1           2              2290
2           3              2286
3           4              2289
4           5              2331
5           6              2294
6           7              2315
7           8              2240
8           9              2330
9          10              2205
10         11              2317
11         12              2223
12         13              2224
13         14              2269
14         15              2229
15         16              2225
16         17              2156
17         18              2358
18         19              2329
19         20              2310
20         21              2260
21         22              2322
22         23              2291
23         24              2256
24         25              2376
25         26              2254
26         27              2280
27         28              2134
28         29              2160
29         30              2136
30         31              1350
31      April              6236
32     August              7299
33        DAY                 2
34   December              6527
35   February              5099
36    January              5783
37       July              7144
38       June              6842
39  MONTHNAME                 1
40      March              5966
41        May              6816
42   November              6570
43    October              7496
44  September              7228

Fatalities by County:
             County  total_fatalities
0     ABBEVILLE (1)                18
1        ACADIA (1)                59
2      ACCOMACK (1)                23
3           ADA (1)                78
4         ADAIR (1)                66
...             ...               ...
2999     YUMA (125)                 8
3000      YUMA (27)               106
3001   ZAPATA (505)                 2
3002   ZAVALA (507)                15
3003  ZIEBACH (137)                 1

[3004 rows x 2 columns]

Fatalities by City:
            City  total_fatalities
0          AIEA                 3
1     EWA BEACH                 5
2      ABBEVILLE                 8
3     ABBOTSFORD                 1
4         ABBOTT                 1
...          ...               ...
7518        ZION                 6
7519  ZIONSVILLE                 1
7520        ZUNI                 4
7521       AIEA                 6
7522  EWA BEACH                 4

[7523 rows x 2 columns]

Fatalities by Rural/Urban:
           Rural/Urban  total_fatalities
0              CR-1360                 1
1              SR-128-                 1
2         SALISBURY ST                 2
3         CR-HODGEN RD                 1
4            157TH AVE                 1
...                ...               ...
30040           sr-178                 1
30041       CR-AMAR RD                 1
30042  CR-BIG CREEK RD                 1
30043       US-221 BYP                 1
30044    RANGE LINE ST                 1

[30045 rows x 2 columns]

Fatalities by Time of Day:
               Time of Day  total_fatalities
0             Not Reported               284
1  Dark - Unknown Lighting              1637
2           Dark - Lighted             31337
3                     Dusk              3568
4      Reported as Unknown               726
5                 Daylight             67843
6                     Dawn              2744
7                    Other                77
8             LGT_CONDNAME                 3
9       Dark - Not Lighted             40212